<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test suite" parallel="tests" thread-count="1">
<test name="Test" enabled="true" preserve-order="true">

    <classes>
        <class name="autoTests.TestSiute.Google_acc"/>
        <class name="autoTests.TestSiute.Google_search"/>
    </classes>
    <!--<packages>-->
    <!--<package name="autoTests.TestSiute"/>-->
    <!--</packages>-->
</test>
</suite>